<h3 class="admin_heading">Sign In</h3>

<form action="/admin" method="post" class="admin_form">
    <label for="username"><b>User Name</b></label>
    <input type="text" placeholder="Enter UserName" name="username" class="admin_btn">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" class="admin_btn">

    <input type="submit" value="Login" class="admin_btn btn">
</form>
<hr class="hr">
<h3 class="admin_heading">Don't have an account? Register Now!</h3>
<form action="/register" method="POST" class="admin_form">
    <label for="username"><b>User Name</b></label>
    <input type="text" placeholder="Enter UserName" name="username" class="admin_btn">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" class="admin_btn">

    <input type="submit" value="Register" class="admin_btn btn">
</form>