<div class="searchBar">
    <div class="container">
        <form action="/search" method="POST" class="search__form">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInput"
                name="searchTerm">
        </form>
        <div id="searchClose">Close</div>
    </div>
</div>