

<div class="contact-container">
    <h1>Reach out to us!</h1>
    <form action="/">
        <div class="contact-me">
            <label for="name">Name</label>
            <input type="text" placeholder="Your Name" name="Email" class="contact-inputs">

            <label for="email">Email</label>
            <input type="text" placeholder="example@mail.com" name="title" class="contact-inputs">

            <label for="message">Message</label>
            <textarea name="" id="" cols="10" rows="9" placeholder="Enter your messaeg here" class="contact-inputs"></textarea>

            <input type="submit" name="submit" class="btn">
        </div>
    </form>
</div>