<div class="author">
    <h1 class="author__heading">BlogJS</h1>
    <p class="author__body">Make your life easier, one post at a time.</p>
</div>
<div class="login">
    <a href="/admin" class="login-btn">
        Log In
    </a>
</div>
<img src="/img/hero-image.webp" alt="person looking at window" class="hero_image" width='981' height="528">

<section class="articles">
    <h2 class="article__headings">Latest post</h2>
    <ul class="article-ul">
        <% data.forEach(element=> { %>
            <li>
                <a href="/post/<%= element._id %>">
                    <span>
                        <%= element.title %>
                    </span>
                    <span class="article-list__date">
                        <%= element.createdDate.toDateString() %>
                    </span>
                </a>
            </li>
            <% }) %>
    </ul>
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older post</a>
    <% } %>
     
    

</section>